.byebug_history
*.swp
*.swo

/.bundle

/log/*
/tmp
/tmp/*
!/log/.keep
!/tmp/.keep
/storage

/.ruby-version
/.ruby-gemset
/config/cable.yml
/config/database.yml
/config/puma.rb
/config/master.key
/db/schema.rb
/db/schema.backend.rb
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
/yarn-debug.log*
/.yarn-integrity
/.yarnrc
/.bash_history
/.cache
/.irb_history
/.yarn-cache

/.env
/exec
/restart
/rspec
/run
/spec
