@import "bootstrap/scss/mixins/_breakpoints";

.fullscreen-modal {
  background-color: rgba(0,0,0,0.5);
  height: calc(100vh - #{$toolbar-height});
  width: calc(100% - #{$bar-width});
  right: 0;
  bottom: 0;
  z-index: 1002;
  backdrop-filter: blur(10px);

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.chart-selected-primary {
  box-shadow: 1px -1px 0 0 $primary, -1px 1px 0 0 $primary, 1px 1px 0 0 $primary, -1px -1px 0 0 $primary;
}

